/*
    Structure
*/
body{
    background-image: url("IMG_1708.JPG");
    background-size: cover;
}

li {
    background-color: white;
    padding-right: 25px;
    margin-left: -20px;
    list-style: none;
}

table{
    text-align: center;
    width: 100%;
}
td {
    width: 33%;
}

#shell {
    position: relative;
    margin: 70px auto;
    
    width: 600px;
    height: 500px;
}

#time-area, #answer-area, #round-area, #message-area, #compose-area, #room-area, .option {
    border: solid;
    border-width: 4px;
    border-color: white;
}


/*
    Message Area
*/
#chat-area {    
    position: absolute;
    bottom: 0px;
    
    width: 100%;
    height: 200px;
}
#room-area {
    background-color: transparent;
    
    position: absolute;
    right: 0px;
    
    width: 147px;
    height: 192px;
}

#message-area, #compose-area {
    width: 432px;
}

#message-area::-webkit-scrollbar * {
   background-color: rebeccapurple;
}  
#message-area {
    background-color: transparent;
    
    height: 140px;
    
    position: absolute;
    left: 0px;
    
    word-wrap: break-word;

    overflow-y: auto;
    
}

#compose-area {
    height: 40px;
    
    position: absolute;
    left: 0px;
    bottom: 0px;
    
}
#input-field {
    font-size: 25px;
    height: 100%;
    width: 100%;
    
    position: absolute;
    left: 0px; 
}
#my-username-text{
    color: red;
}

/*
    Top Area
*/
#answer-area, #time-area, #round-area{
    height: 18px;
}
#top-area{
    width: 100%;
}

/*
    Options Area
*/
.option{
    height: 100px;
    text-align: center;
}
